<style>
    footer {
        display: none;
    }
</style>

<div class="flex flex-wrap w-5/6 mx-auto pt-48 pb-56">
    <div class="w-full text-center">
        <h1 id="hero-title" class="text-6xl text-navy font-bold leading-none" x-text="dataItem.heroSection.title">Browser Not Supported</h1>
        <p class="text-lg text-navy pt-6 pb-12">We're sorry, our website does not support any version of IE. To use this website, please use a more current browser.</p>
    </div>
</div>