<div class="bg-cover bg-top bg-no-repeat -mt-32 pt-48 pb-12 px-6 terms-hero-bk">
    <div class="max-w-3xl w-full mx-auto py-12 text-navy whitespace-pre-line terms-content">
        {{ wpage.content | safe }}
    </div>
</div>