<script>
    let griffin = document.querySelector('.griffin-hover');
    let bulloch = document.querySelector('.bulloch-hover');
    let lagrange = document.querySelector('.lagrange-hover');
    let tiftTom = document.querySelector('.tift-tom-hover');
    let thomas = document.querySelector('.thomas-hover');
    let bryan = document.querySelector('.bryan-hover');
    let glynn = document.querySelector('.glynn-hover');
    let blackShear = document.querySelector('.black-hover');
    let lagrangeLink = document.getElementById('LaGrange');
    let griffinLink = document.getElementById('Griffin');
    let tiftonLink = document.getElementById('Tifton');
    let thomasvilleLink = document.getElementById('Thomasville');
    let statesboroLink = document.getElementById('Statesboro');
    let richmondLink = document.getElementById('Richmond Hill');
    let brunswickLink = document.getElementById('Brunswick');
    let blackShearLink = document.getElementById('Blackshear');

    griffin.addEventListener("mouseenter", function( e ) {
        document.querySelector('.griffin-hover').classList.remove('opacity-0');
        document.querySelector('.griffin-hover-icon').classList.remove('opacity-0');
        document.querySelector('.griffin-hover-icon-inner').style.fill = "#1E323F";
        griffinLink.classList.add('underline');
    });
    griffin.addEventListener("mouseleave", function( e ) {
        document.querySelector('.griffin-hover').classList.add('opacity-0');
        document.querySelector('.griffin-hover-icon').classList.add('opacity-0');
        document.querySelector('.griffin-hover-icon-inner').style.fill = "#F6F4EE";
        griffinLink.classList.remove('underline');
    });
    griffin.addEventListener("click", function( e ) {
        window.location.href = "/service-areas/griffin/";
    });

    griffinLink.addEventListener("mouseenter", function( e ) {
        document.querySelector('.griffin-hover').classList.remove('opacity-0');
        document.querySelector('.griffin-hover-icon').classList.remove('opacity-0');
        document.querySelector('.griffin-hover-icon-inner').style.fill = "#1E323F";
        griffinLink.classList.add('underline');
    });
    griffinLink.addEventListener("mouseleave", function( e ) {
        document.querySelector('.griffin-hover').classList.add('opacity-0');
        document.querySelector('.griffin-hover-icon').classList.add('opacity-0');
        document.querySelector('.griffin-hover-icon-inner').style.fill = "#F6F4EE";
        griffinLink.classList.remove('underline');
    });

    bulloch.addEventListener("mouseenter", function( e ) {
        document.querySelector('.bulloch-hover').classList.remove('opacity-0');
        document.querySelector('.bulloch-hover-icon').classList.remove('opacity-0');
        document.querySelector('.bulloch-hover-icon-inner').style.fill = "#1E323F";
        statesboroLink.classList.add('underline');
    });
    bulloch.addEventListener("mouseleave", function( e ) {
        document.querySelector('.bulloch-hover').classList.add('opacity-0');
        document.querySelector('.bulloch-hover-icon').classList.add('opacity-0');
        document.querySelector('.bulloch-hover-icon-inner').style.fill = "#F6F4EE";
        statesboroLink.classList.remove('underline');
    });
    bulloch.addEventListener("click", function( e ) {
        window.location.href = "/service-areas/statesboro/";
    });

    statesboroLink.addEventListener("mouseenter", function( e ) {
        document.querySelector('.bulloch-hover').classList.remove('opacity-0');
        document.querySelector('.bulloch-hover-icon').classList.remove('opacity-0');
        document.querySelector('.bulloch-hover-icon-inner').style.fill = "#1E323F";
        statesboroLink.classList.add('underline');
    });
    statesboroLink.addEventListener("mouseleave", function( e ) {
        document.querySelector('.bulloch-hover').classList.add('opacity-0');
        document.querySelector('.bulloch-hover-icon').classList.add('opacity-0');
        document.querySelector('.bulloch-hover-icon-inner').style.fill = "#F6F4EE";
        statesboroLink.classList.remove('underline');
    });

    lagrange.addEventListener("mouseenter", function( e ) {
        document.querySelector('.lagrange-hover').classList.remove('opacity-0');
        document.querySelector('.lagrange-hover-icon').classList.remove('opacity-0');
        document.querySelector('.lagrange-hover-icon-inner').style.fill = "#1E323F";
        lagrangeLink.classList.add('underline');
    });
    lagrange.addEventListener("mouseleave", function( e ) {
        document.querySelector('.lagrange-hover').classList.add('opacity-0');
        document.querySelector('.lagrange-hover-icon').classList.add('opacity-0');
        document.querySelector('.lagrange-hover-icon-inner').style.fill = "#F6F4EE";
        lagrangeLink.classList.remove('underline');
    });
    lagrange.addEventListener("click", function( e ) {
        window.location.href = "/service-areas/lagrange/";
    });

    lagrangeLink.addEventListener("mouseenter", function( e ) {
        document.querySelector('.lagrange-hover').classList.remove('opacity-0');
        document.querySelector('.lagrange-hover-icon').classList.remove('opacity-0');
        document.querySelector('.lagrange-hover-icon-inner').style.fill = "#1E323F";
        lagrangeLink.classList.add('underline');
    });
    lagrangeLink.addEventListener("mouseleave", function( e ) {
        document.querySelector('.lagrange-hover').classList.add('opacity-0');
        document.querySelector('.lagrange-hover-icon').classList.add('opacity-0');
        document.querySelector('.lagrange-hover-icon-inner').style.fill = "#F6F4EE";
        lagrangeLink.classList.remove('underline');
    });

    tiftTom.addEventListener("mouseenter", function( e ) {
        document.querySelector('.tift-tom-hover').classList.remove('opacity-0');
        document.querySelector('.tift-tom-hover-icon').classList.remove('opacity-0');
        document.querySelector('.tift-tom-hover-icon-inner').style.fill = "#1E323F";
        thomasvilleLink.classList.add('underline');
    });
    tiftTom.addEventListener("mouseleave", function( e ) {
        document.querySelector('.tift-tom-hover').classList.add('opacity-0');
        document.querySelector('.tift-tom-hover-icon').classList.add('opacity-0');
        document.querySelector('.tift-tom-hover-icon-inner').style.fill = "#F6F4EE";
        thomasvilleLink.classList.remove('underline');
    });
    tiftTom.addEventListener("click", function( e ) {
        window.location.href = "/service-areas/thomasville/";
    });

    tiftonLink.addEventListener("mouseenter", function( e ) {
        document.querySelector('.thomas-hover').classList.remove('opacity-0');
        document.querySelector('.thomas-hover-icon').classList.remove('opacity-0');
        document.querySelector('.thomas-hover-icon-inner').style.fill = "#1E323F";
        tiftonLink.classList.add('underline');
    });
    tiftonLink.addEventListener("mouseleave", function( e ) {
        document.querySelector('.thomas-hover').classList.add('opacity-0');
        document.querySelector('.thomas-hover-icon').classList.add('opacity-0');
        document.querySelector('.thomas-hover-icon-inner').style.fill = "#F6F4EE";
        tiftonLink.classList.remove('underline');
    });

    thomas.addEventListener("mouseenter", function( e ) {
        document.querySelector('.thomas-hover').classList.remove('opacity-0');
        document.querySelector('.thomas-hover-icon').classList.remove('opacity-0');
        document.querySelector('.thomas-hover-icon-inner').style.fill = "#1E323F";
        tiftonLink.classList.add('underline');
    });
    thomas.addEventListener("mouseleave", function( e ) {
        document.querySelector('.thomas-hover').classList.add('opacity-0');
        document.querySelector('.thomas-hover-icon').classList.add('opacity-0');
        document.querySelector('.thomas-hover-icon-inner').style.fill = "#F6F4EE";
        tiftonLink.classList.remove('underline');
    });
    thomas.addEventListener("click", function( e ) {
        window.location.href = "/service-areas/tifton/";
    });

    thomasvilleLink.addEventListener("mouseenter", function( e ) {
        document.querySelector('.tift-tom-hover').classList.remove('opacity-0');
        document.querySelector('.tift-tom-hover-icon').classList.remove('opacity-0');
        document.querySelector('.tift-tom-hover-icon-inner').style.fill = "#1E323F";
        thomasvilleLink.classList.add('underline');
    });
    thomasvilleLink.addEventListener("mouseleave", function( e ) {
        document.querySelector('.tift-tom-hover').classList.add('opacity-0');
        document.querySelector('.tift-tom-hover-icon').classList.add('opacity-0');
        document.querySelector('.tift-tom-hover-icon-inner').style.fill = "#F6F4EE";
        thomasvilleLink.classList.remove('underline');
    });

    bryan.addEventListener("mouseenter", function( e ) {
        document.querySelector('.bryan-hover').classList.remove('opacity-0');
        document.querySelector('.bryan-hover-icon').classList.remove('opacity-0');
        document.querySelector('.bryan-hover-icon-inner').style.fill = "#1E323F";
        richmondLink.classList.add('underline');
    });
    bryan.addEventListener("mouseleave", function( e ) {
        document.querySelector('.bryan-hover').classList.add('opacity-0');
        document.querySelector('.bryan-hover-icon').classList.add('opacity-0');
        document.querySelector('.bryan-hover-icon-inner').style.fill = "#F6F4EE";
        richmondLink.classList.remove('underline');
    });
    bryan.addEventListener("click", function( e ) {
        window.location.href = "/service-areas/richmond-hill/";
    });

    richmondLink.addEventListener("mouseenter", function( e ) {
        document.querySelector('.bryan-hover').classList.remove('opacity-0');
        document.querySelector('.bryan-hover-icon').classList.remove('opacity-0');
        document.querySelector('.bryan-hover-icon-inner').style.fill = "#1E323F";
        richmondLink.classList.add('underline');
    });
    richmondLink.addEventListener("mouseleave", function( e ) {
        document.querySelector('.bryan-hover').classList.add('opacity-0');
        document.querySelector('.bryan-hover-icon').classList.add('opacity-0');
        document.querySelector('.bryan-hover-icon-inner').style.fill = "#F6F4EE";
        richmondLink.classList.remove('underline');
    });

    glynn.addEventListener("mouseenter", function( e ) {
        document.querySelector('.glynn-hover').classList.remove('opacity-0');
        document.querySelector('.glynn-hover-icon').classList.remove('opacity-0');
        document.querySelector('.glynn-hover-icon-inner').style.fill = "#1E323F";
        brunswickLink.classList.add('underline');
    });
    glynn.addEventListener("mouseleave", function( e ) {
        document.querySelector('.glynn-hover').classList.add('opacity-0');
        document.querySelector('.glynn-hover-icon').classList.add('opacity-0');
        document.querySelector('.glynn-hover-icon-inner').style.fill = "#F6F4EE";
        brunswickLink.classList.remove('underline');
    });
    glynn.addEventListener("click", function( e ) {
        window.location.href = "/service-areas/brunswick/";
    });

    brunswickLink.addEventListener("mouseenter", function( e ) {
        document.querySelector('.glynn-hover').classList.remove('opacity-0');
        document.querySelector('.glynn-hover-icon').classList.remove('opacity-0');
        document.querySelector('.glynn-hover-icon-inner').style.fill = "#1E323F";
        brunswickLink.classList.add('underline');
    });
    brunswickLink.addEventListener("mouseleave", function( e ) {
        document.querySelector('.glynn-hover').classList.add('opacity-0');
        document.querySelector('.glynn-hover-icon').classList.add('opacity-0');
        document.querySelector('.glynn-hover-icon-inner').style.fill = "#F6F4EE";
        brunswickLink.classList.remove('underline');
    });

    blackShear.addEventListener("mouseenter", function( e ) {
        document.querySelector('.black-hover').classList.remove('opacity-0');
        document.querySelector('.black-hover-icon').classList.remove('opacity-0');
        document.querySelector('.black-hover-icon-inner').style.fill = "#1E323F";
        blackShearLink.classList.add('underline');
    });
    blackShear.addEventListener("mouseleave", function( e ) {
        document.querySelector('.black-hover').classList.add('opacity-0');
        document.querySelector('.black-hover-icon').classList.add('opacity-0');
        document.querySelector('.black-hover-icon-inner').style.fill = "#F6F4EE";
        blackShearLink.classList.remove('underline');
    });
    blackShear.addEventListener("click", function( e ) {
        window.location.href = "/service-areas/blackshear/";
    });

    blackShearLink.addEventListener("mouseenter", function( e ) {
        document.querySelector('.black-hover').classList.remove('opacity-0');
        document.querySelector('.black-hover-icon').classList.remove('opacity-0');
        document.querySelector('.black-hover-icon-inner').style.fill = "#1E323F";
        blackShearLink.classList.add('underline');
    });
    blackShearLink.addEventListener("mouseleave", function( e ) {
        document.querySelector('.black-hover').classList.add('opacity-0');
        document.querySelector('.black-hover-icon').classList.add('opacity-0');
        document.querySelector('.black-hover-icon-inner').style.fill = "#F6F4EE";
        blackShearLink.classList.remove('underline');
    });
</script>